.popup{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    width: fit-content;
    max-width: 70vw;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .top{
        display: flex;
        flex-wrap: wrap;
        .topleft{
            padding: 2rem;
            .image{
                width:200px;
                height: 200px;
            }
        }
        .topright{
            .cross{
                float: right;
            }
        }
    }
    .bottom{
        display: flex;
        overflow-x: scroll;
    }
}

  .form {
    
          display: flex;
          flex-direction: column;


      input {
          padding: .5rem;
          margin: 1rem 0rem;
      }

      .btncont {
          display: flex;
          align-items: center;

          h3 {
              margin: 0;
          }

          button {
              cursor: pointer;
              padding: .7rem 1rem;
              margin: .5rem;
              border: none;
              border-radius: 12px;
              background-color: red;
              color: white;
          }
      }

  }